

<nav>
    <a class="logo" href="{{.Site.BaseURL}}"><img class="logo-image" src={{ "img/Logo.svg" | absURL }} alt="Logo"></a>


    <div class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
        <ul class="nav-list">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <li class="navbar-link"><a href="{{ .URL }}">{{ .Name }}</a></li>
        
            {{ end }}
            <button href="">test</button>
        </ul>
</nav>